@model IEnumerable<DentalClinicManagementSystem.Models.Dentist>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-container" style="height: 500px;">
    <div style="grid-area: header; height: 175px; padding-top: 75px">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
    <div style="grid-area: main; height: calc(100vh - 225px); overflow-y: auto; ">
        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MiddleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TelephoneNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MobileNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Specialization)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Branch)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="white-space: nowrap">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td style="white-space: nowrap">
                            @Html.DisplayFor(modelItem => item.MiddleName)
                        </td>
                        <td style="white-space: nowrap">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td style="white-space: nowrap">
                            @Html.DisplayFor(modelItem => item.TelephoneNo)
                        </td>
                        <td style="white-space: nowrap">
                            @Html.DisplayFor(modelItem => item.MobileNo)
                        </td>
                        <td style="white-space: nowrap">
                            @Html.DisplayFor(modelItem => item.Specialization)
                        </td>
                        <td style="white-space: nowrap">
                            @Html.DisplayFor(modelItem => item.Branch.Name)
                        </td>
                        <td style="white-space: nowrap">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div style="grid-area: footer; height: 50px;"></div>
</div>
